boto3==1.38.21
botocore==1.38.21
devops_ai==0.1.0
gitingest==0.1.2
GitPython==3.1.43
GitPython==3.1.44
httpx==0.28.1
langchain==0.3.25
langchain_core==0.3.60
langchain_openai==0.3.17
openai==1.81.0
PyGithub==2.5.0
PyGithub==2.6.1
python-dotenv==1.1.0
rich==14.0.0
setuptools==75.2.0
setuptools==65.5.0
syntera_ai==0.1.0
typer==0.15.4
urllib3==2.4.0
